import('inlcudes/placeholder')
@import 'includes/variables'
@import 'includes/mixins'
@import 'includes/fonts'
@import 'includes/reset'

body 
  background: #fff;

.main-nav
  width: 400px
  display flex
  justify-content space-around
  margin 0
  padding 0
  list-style none
  a
    display block
    padding 10px 15px
    text-decoration none
    color #000
    background-color #e5e5e5
    &:hover
      background-color #a5a5a5
      border-bottom 1px solid black

// Last row. Include all .styl from BLOCKS directory
@import('../blocks/**/*')