import('inlcudes/placeholder')
@import 'includes/variables'
@import 'includes/mixins'
@import 'includes/fonts'
@import 'includes/reset'


// Last row. Include all .styl from BLOCKS directory
@import('../blocks/**/*')