.footer
  background-color #1E1603
  &__inner
    padding (3rem - (basePadding))
  &__subtitle
    margin-bottom .5625rem
    font-family serif
    font-size 1.625rem
    text-align center
    color #fff
  &__phone
    margin-top 1.5rem
    text-align center
    color #fff
  &__mail
    margin-top .5rem
    text-align center
    a
      color #ccc
      transition color .4s
      &:hover
        color #fff
        transition color .1s
