extends ../blocks/layout/layout

block head
  -
    var pageTitle = 'Тайтл'
    var pageDescription = 'Описание'
    var pageKeywords = 'Ключевые словечки'
block content
  .container
    .content
      h1 Заголовок
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur maiores totam facilis voluptatum non ea dicta architecto harum natus. Fuga, tempore enim! Deleniti cupiditate nemo blanditiis atque delectus, praesentium vero?